<%= provide(:title, "Edit Weight") %>

<div class="content">
  <h1>Editing Weight</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @weight %> |
  <%= link_to 'Back', weights_path %>
  <p class="bottom"></p>
</div>
