<%= provide(:title, "Edit Food Entry") %>
<div class="content">
  <h1>Editing Foods</h1>

  <%= render 'form'%>

  <%= link_to 'Show', @food %> |
  <%= link_to 'Back', food_entries_path %>

  <p class="bottom"></p>
</div>
