// Place all the styles related to the HealthTrackers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.stats {

}

.number {
  color: blue;
}

#welcome {
  font-weight: bold;
  font-size: 1.2em;
}

h4 {
  margin-bottom: 1%;
  text-decoration: underline;
}
